<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <h1>Predictor de comentarios de YouTube</h1>
    
    <form action="/predecir">
        <input type="submit" class="button button3" value="Comenzar a predecir" />
    </form>

    <form action="/clasificar">
        <input type="submit" class="button button5" value="Comenzar a clasificar" />
    </form>

    <span>Posibles reactiones</span>
    <div class="bar">
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
        <div class="circle">
        </div>
    </div>
</body>

</html>